<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Exp-1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-center" size="12">
      <ion-item *ngFor="let item of data">
        <div>
          <ion-label>group:</ion-label>
          <ion-text color="primary">
            <h1>{{item.group}}</h1>
            <h1>{{item.store_id}}</h1>
            <h1>{{item.address}}</h1>
            <h1>{{item.telephone}}</h1>
          </ion-text>
        </div>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
